li:first-child {
    background-color: #0000FF;
}

li:last-child {
    background-color: #0F0;
}

li:nth-child(2) {
    background-color: #FF0000;
}

li:nth-child(even) {
    background-color: #0000FF;
}

li:nth-child(odd) {
    background-color: #0F0;
}

li:nth-child(2n) {
    background-color: #0000FF;
}

li:nth-child(3n) {
    background-color: #0F0;
}

li:nth-child(2n+1) {
    background-color: #0000FF;
}

li:nth-child(3n+1) {
    background-color: #0F0;
}