p{
    background: linear-gradient(to top, blue, red);
    background: linear-gradient(to left, #0000FF, #0F0);
    background: linear-gradient(to right, rgba(255, 128, 0, 0.5), rgba(120, 50, 0, 0.5));
    background: linear-gradient(to bottom, hsla(120, 50, 0, 0.5), hsla(120, 100, 25, 0.5 ));
}