/* Relative to the font-size of the element */
div {
    font-size: 18px;
}

p {
    font-size: 2em;
}


/* Relative to font-size of the root element */
:root {
    font-size: 25px;
}

div {
    font-size: 18px;
}

p {
    font-size: 2rem;
}

/* Or */

html {
    font-size: 25px;
}

div {
    font-size: 18px;
}

p {
    font-size: 2rem;
}