p {
   font-size: 30px;     
}

p.center {
   text-align: center;
   color: #0000FF;
}

p.center img {
   float: left;
   margin-right: 0.5em;
}

p.center p:first-of-type:first-letter; {
   float: left;
   line-height: 0.8;
}